body{
    
}
.container {
    /*max-width: 95%;*/
    margin-bottom: 20px;
}
.menu_logohd{
        height: 25px;
        border-radius: 5px;
        border: 2px solid #378dde;
        padding: 1px;
        background-color: #fff;
        margin-bottom: 5px;
}
.nav_hd{
        background-color: #f1f1f1;
        border-bottom: 2px solid #f53748;
        padding-bottom: 1px!important;
}
.nav_hd .nav-item > a{
      color: #353535!important;
}
.nav_hd .nav-item > a:hover{
      color: #262626!important;
      background-color: #dedede;
      border-radius: 3px;
}
.menu_righthd a {
      color: #4d4d4d!important;
}
.menu_righthd a:hover{
      color: #0d0d0d!important;
}
.card > .bg-secondary{
   /*background-color: #dedede!important;*/
   background-color: #c3233a!important;
   font-weight: bold;
}
.card > .bg-secondary:before{
    display: inline-block;
    width: 4px;
    height: 18px;
    margin: -3px 5px 0 0px;
    content: "";
    vertical-align: middle;
    background: #fff;
    border-top: 9px solid #c3233a;
    border-right: 0px solid #c3233a;
    border-bottom: 9px solid #c3233a;
    border-left: 8px solid #ffffff;
}
.card {
      border: 1px solid rgba(166, 25, 46, 0.38);
     /* margin-bottom: 20px;*/
}
.card > .card-header button {
  margin-top: -4px;
  padding-right:5px
}
.hd_danger{
  border-color: red!important;
}
